@import "tailwindcss";

@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-primary-hover: hsl(var(--primary-hover));

  --color-card: hsl(var(--card));
}

@layer base {
  :root {
    --background: 210 33% 98%;
    --foreground: 242 94% 7%;

    --card: 255 100% 97%;

    --primary: 113 80% 42%;
    --primary-foreground: 210 33% 98%;
    --primary-hover: 113 78% 35%;

    --border: 214 24% 87%;
  }

  .dark {
    --background: 242 94% 7%;
    --foreground: 210 33% 98%;

    --card: 263 45% 11%;

    --primary: 113 80% 42%;
    --primary-foreground: 210 33% 98%;
    --primary-hover: 113 78% 35%;

    --border: 234 28% 23%;
  }

  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/* @utility text-glow {
} */

@utility card-hover {
  @apply transition-transform duration-300 hover:scale-[1.02] hover:shadow-lg hover:shadow-primary;
}

/* @utility gradiend-border {
} */

@utility cosmic-button {
  @apply px-6 py-2 rounded-full bg-primary text-primary-foreground font-medium
    transition-all duration-300 hover:shadow-[0_0_20px_hsl(113_78%_35%)]
    hover:scale-105 active:scale-95;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
