@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-primary-hover: hsl(var(--primary-hover));

  --color-card: hsl(var(--card));

  --animate-float: float 6s ease-in-out infinite;
  --animate-grow: grow 1.5s ease-out;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes grow {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
}

@layer base {
  :root {
    --background: 210 33% 98%;
    --foreground: 242 94% 7%;

    --card: 255 100% 97%;

    --primary: 113 80% 42%;
    --primary-foreground: 210 33% 98%;
    --primary-hover: 113 78% 35%;

    --border: 214 24% 87%;
  }

  .dark {
    --background: 242 94% 7%;
    --foreground: 210 33% 98%;

    --card: 263 45% 11%;

    --primary: 113 80% 42%;
    --primary-foreground: 210 33% 98%;
    --primary-hover: 113 78% 35%;

    --border: 234 28% 23%;
  }

  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background font-space-grotesk text-foreground transition-colors duration-300;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/* @utility text-glow {
} */
@utility section-heading {
  @apply text-3xl sm:text-4xl md:text-5xl font-bold text-foreground;
}

@utility card-hover {
  @apply transition-transform duration-300 hover:scale-[1.02] hover:shadow-lg hover:shadow-primary;
}

@utility card-box {
  @apply relative;
  background: linear-gradient(to right, hsl(var(--card)), hsl(var(--card)));
  background-clip: padding-box;
  border: 1px solid transparent;
}

@utility cosmic-button {
  @apply px-6 py-2 bg-primary text-primary-foreground font-medium
    transition-all duration-300 
    hover:scale-105 active:scale-95;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
